<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" id="burger-title">
            <h1>EAT DA BÖRGER!</h1>
        </div>
        <div class="col-md-6 text-center" class="task">
            <div class="row">
                {{#each burger_data}}
                {{#unless this.devoured}}
                <div class="col-md-9 text-center">
                    <pre>{{this.id}}. {{this.burger_name}}</pre>
                </div>
                <div class="col-md-3 text-center">
                    <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                        <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                        <br>
                        <button type="submit" class="btn btn-default">EAT IT!</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>

            <div class="col-md-6 text-center" class="task">
                {{#each burger_data}}
                {{#if this.devoured}}
                <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}">
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center enter_section">
            <form action="/burgers/create" method="POST">
            <input type="text" name="burger_name" class="form-control" value="" id="enter_text">
            <button type="submit" class="btn btn-primary" id="text-enter-button">SUBMIT</button>
            </form>
            <p>WHAT YOU HAVIN</p>
        </div>
    </div>

</div>