<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" id="burger-title">
            <img src="" alt="">
            <h1>EAT DA BÖRGER!</h1>
        </div>
        <div class="col-md-6 text-center" class="task">
            <div class="row">
                {{#each burgers}}
                {{#unless this.devoured}}
                <div class="col-md-9 text-center">
                    <pre>{{this.id}}. {{this.burger_name}}</pre>
                </div>
                <div class="col-md-3 text-center">
                    <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                        <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                        <br>
                        <button type="submit" class="btn btn-default">EAT IT!</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>

            <div class="col-md-6 text-center" class="task">
                {{#each burgers}}
                {{#if this.devoured}}
                <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}">
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    
  </div>

  <button type="submit">Add Burger</button>
</form>
